/* ==========================================================================
   Syntax highlighting
   ========================================================================== */

div.highlighter-rouge,
figure.highlight {
  position: relative;
  margin-bottom: 1em;
  background-color: $code-background-color;

  // color: $base05;
  font-family: $monospace;
  font-size: ($type-size-6 + $type-size-5) / 2;
  line-height: 1.5;
  border-radius: $border-radius ;

  >pre,
  pre.highlight {
    margin: 0;
    padding: 1em;
  }
}

.highlight table td {
  padding: 10px !important;
}

.highlight table pre {
  margin: 0 !important;
  font-size: 0.85em !important;
}

.highlight,
.highlight .w {
  color: #e5d5e7 !important;
  background-color: #2a272c !important;
}

.highlight .k,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kt,
.highlight .kv {
  color: #6C8ED2 !important;
}

.highlight .gr {
  color: #f6e6ff !important;
}

.highlight .gd {
  color: #ff9fa5 !important;
  // background-color: #ffe5e6 !important;
}

.highlight .nb {
  color: #fcebf9 !important;
}

.highlight .nc {
  color: #fcebf9 !important;
}

.highlight .no {
  color: #fcebf9 !important;
}

.highlight .nn {
  color: #fcebf9 !important;
}

.highlight .sr {
  color: #f26c94 !important;
}

.highlight .na {
  color: #f26c94 !important;
}

.highlight .nt {
  color: #f26c94 !important;
}

.highlight .gi {
  color: rgb(233, 84, 116) !important;
}

.highlight .ges {
  font-weight: bold !important;
  font-style: italic !important;
}

.highlight .kc {
  color: #fff !important;
}

.highlight .l,
.highlight .ld,
.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo,
.highlight .mx {
  color: #fff !important;
}

.highlight .sb {
  color: #fff !important;
}

.highlight .bp {
  color: #fff !important;
}

.highlight .ne {
  color: #fff !important;
}

.highlight .nl {
  color: #fff !important;
}

.highlight .py {
  color: #fff !important;
}

.highlight .nv,
.highlight .vc,
.highlight .vg,
.highlight .vi,
.highlight .vm {
  color: #fff !important;
}

.highlight .o,
.highlight .ow {
  color: #fff !important;
}

.highlight .gh {
  color: #75b9be !important;
  font-weight: bold !important;
}

.highlight .gu {
  color: #75b9be !important;
  font-weight: bold !important;
}

.highlight .s,
.highlight .sa,
.highlight .sc,
.highlight .dl,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .sx,
.highlight .s1,
.highlight .ss {
  color: #d9d3ff !important;
}

.highlight .nd {
  color: #c6a8f6 !important;
}

.highlight .nf,
.highlight .fm {
  color: #c6a8f6 !important;
}

.highlight .err {
  color: #ffcccc !important;
}

.highlight .c,
.highlight .ch,
.highlight .cd,
.highlight .cm,
.highlight .cp,
.highlight .cpf,
.highlight .c1,
.highlight .cs {
  color: #686178 !important;
}

.highlight .gl {
  color: #686178 !important;
}

.highlight .gt {
  color: #686178 !important;
}

.highlight .ni {
  color: #e5d5e7 !important;
}

.highlight .si {
  color: #e5d5e7 !important;
}

.highlight .ge {
  color: #e5d5e7 !important;
  font-style: italic !important;
}

.highlight .gs {
  color: #e5d5e7 !important;
  font-style: italic !important;
}

.highlight .gs {
  color: #e5d5e7 !important;
  font-weight: bold !important;
}

//add
.highlight .nx {
  color: #FFBED0 !important;
}

.highlight .n {
  color: #e8eef5 !important;
}

.highlight .nl {
  color: #efeac3 !important;
}

.highlight .p {
  color: #a6bbe2 !important;
}